{% load static %}
{% load customfilter %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> {% if page_title %}
    <title>{{ page_title }}  Voice based bus reservation sytsem</title>
    {% else %}
    <title>Voice based bus reservation sytsem</title>
    {% endif %}
    <link rel="icon" href="{{ MEDIA_URL }}/default/logo.png">
    <link rel="stylesheet" href="{% static 'assets/font-awesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/select2/dist/css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/mdb-blogtemplate/css/mdb.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/DataTables/datatables.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/default/css/style.css' %}">

    <script src="{% static 'assets/font-awesome/js/all.min.js' %}"></script>
    <script src="{% static 'assets/default/js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/DataTables/datatables.min.js' %}"></script>
    <script src="{% static 'assets/bootstrap/js/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/mdb-blogtemplate/js/mdb.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/default/js/script.js' %}"></script>
    {% block headerContent %} {% endblock headerContent %}
</head>

<body class="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block TopNavigation %} {% include "TopNavigation.html" %} {% endblock TopNavigation %}
    <main class="py-0">
        <div class="container mb-0">
            {% if messages %}
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    {% for message in messages %}
                    <div class="alert alert-{% if message.extra_tags %}{{ message.tags|replaceBlank:message.extra_tags|replaceBlank:' ' }}{% else %}{{ message.tags }}{% endif %} w-100 rounded-0 mb-2 redirect-msg">
                        <div class="d-flex w-100">
                            <div class="col-auto flex-shrink-1 flex-grow-1">{{ message|safe }}</div>
                            <div class="col-auto text-center">
                                <button class="btn-close btn-sm text-sm" type="button" onclick="$(this).closest('.alert').remove()"></button>
                            </div>
                        </div>

                    </div>
                    {% if message.extra_tags != 'stay' %}
                    <script>
                        $(function() {
                            if ($('.redirect-msg').length > 0) {
                                setTimeout(() => {
                                    $('.redirect-msg').hide('slideUp')
                                    setTimeout(() => {
                                        $('.redirect-msg').remove()
                                    }, 500)
                                }, 3500)
                            }
                
                        })
                    </script>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>{% endif %} {% block pageContent %} {% endblock pageContent %}

        </div>
    </main>
    {% block ScriptBlock %} {% endblock ScriptBlock %}
    <div class="modal fade" id="uni_modal" role='dialog'>
        <div class="modal-dialog modal-md modal-dialog-centered" role="document">
            <div class="modal-content rounded-0">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn  btn-sm btn-flat btn-primary rounded-0" id='submit' onclick="$('#uni_modal form').submit()">Save</button>
                    <button type="button" class="btn btn-sm btn-flat btn-light border rounded-0" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="confirm_modal" role='dialog'>
        <div class="modal-dialog modal-md modal-dialog-centered" role="document">
            <div class="modal-content rounded-0">
                <div class="modal-header">
                    <h5 class="modal-title">Confirmation</h5>
                </div>
                <div class="modal-body">
                    <div id="delete_content"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-flat btn-primary rounded-0" id='confirm' onclick="">Continue</button>
                    <button type="button" class="btn btn-sm btn-flat btn-light border rounded-0" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
            
        </div>
        <div></div>
    </div>
    {% if not user.id %}
    <div><script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
       
        <button  id='btnGiveCommand' type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            <img align="right" src="static/mic.png" alt="buttonpng" width="75" height="75" />
          </button>
          
          
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h3 class="modal-title" id="exampleModalLabel"> <img src="static/gg.gif" alt="buttonpng"  /></h3>
                  <div><span id='message'></span></div>
                  <div class="container">
                      
                </div>
              </div>
            </div>
          </div>
      
    
        </div>
        <span id='message' ></span>
        <br><br>
        
        
        
        
        
        
        <script>
            var message = document.querySelector('#message');
    
            var SpeechRecognition = SpeechRecognition || webkitSpeechRecognition;
            var SpeechGrammarList = SpeechGrammarList || webkitSpeechGrammarList;
    
            var grammar = '#JSGF V1.0;'
    
            var recognition = new SpeechRecognition();
            var speechRecognitionList = new SpeechGrammarList();
            speechRecognitionList.addFromString(grammar, 1);
            recognition.grammars = speechRecognitionList;
            recognition.lang = 'en-US';
            recognition.interimResults = false;
    
            recognition.onresult = function(event) {
                var last = event.results.length - 1;
                var command = event.results[last][0].transcript;
                message.textContent = '"' + command + '".';
    
                if(command.toLowerCase() === 'find trips'){
                    window.open("find_trip", "_self");
                }
                else if (command === 'book my ticket'){
                    window.open("find_trip", "_self");
                }
                else if (command === 'book a ticket'){
                    window.open("find_trip", "_self");
                }
                else if (command === 'find a bus'){
                    window.open("find_trip", "_self");
                }
                else if (command === 'open find trips'){
                    window.open("find_trip", "_self");
                }
                else if (command === 'book me a ticket'){
                    window.open("find_trip", "_self");
                }
                else if (command === 'show me the schedule'){
                    window.open("scheduled_trips", "_self");
                }
                else if (command === 'show me scheduled buses'){
                    window.open("scheduled_trips", "_self");
                }
                else if (command === 'open scheduled trips'){
                    window.open("scheduled_trips", "_self");
                }
                else if (command === 'open schedule trips'){
                    window.open("scheduled_trips", "_self");
                }
                else if (command === 'schedule trips'){
                    window.open("scheduled_trips", "_self");
                }
                else if (command === 'upcoming trips'){
                    window.open("scheduled_trips", "_self");
                }
                else if (command === 'show about'){
                    window.open("about", "_self");
                }
                else if (command === 'about us'){
                    window.open("about", "_self");
                }
                else if (command === 'contact'){
                    window.open("contact", "_self");
                }
                else if (command === 'i have a query'){
                    window.open("contact", "_self");
                }
                else if (command === 'i have a issue'){
                    window.open("contact", "_self");
                }
                

                   
            };
    
            recognition.onspeechend = function() {
                recognition.stop();
            };
    
            recognition.onerror = function(event) {
                message.textContent = 'Error occurred in recognition: ' + event.error;
            }        
    
            document.querySelector('#btnGiveCommand').addEventListener('click', function(){
                recognition.start();
    
            });
            
    
    
        </script></div>
        {% endif %}
    


    <script>
        const loader = $('<div>')
        loader.attr('id', 'pre-loader')
        loader.html('<div class="lds-default"></div>')

        window.start_loader = function() {
            $('body').removeClass('loading')
            if ($('#pre-loader').length > 0)
                $('#pre-loader').remove();
            $('body').append(loader)
            $('body').addClass('loading')
        }
        window.end_loader = function() {
            if ($('#pre-loader').length > 0)
                $('#pre-loader').remove();
            $('body').removeClass('loading')
        }
        window.uni_modal = function($title = '', $url = '', $size = "") {
            start_loader()
            $.ajax({
                url: $url,
                error: err => {
                    console.log()
                    alert("An error occured")
                },
                success: function(resp) {
                    if (resp) {
                        $('#uni_modal .modal-title').html($title)
                        $('#uni_modal .modal-body').html(resp)
                        if ($size != '') {
                            $('#uni_modal .modal-dialog').addClass($size + '  modal-dialog-centered')
                        } else {
                            $('#uni_modal .modal-dialog').removeAttr("class").addClass("modal-dialog modal-md modal-dialog-centered")
                        }
                        $('#uni_modal').modal({
                            backdrop: 'static',
                            keyboard: false,
                            focus: true
                        })
                        $('#uni_modal').modal('show')
                        end_loader()
                    }
                }
            })
        }
        window._conf = function($msg = '', $func = '', $params = []) {
            $('#confirm_modal #confirm').attr('onclick', $func + "(" + $params.join(',') + ")")
            $('#confirm_modal .modal-body').html($msg)
            $('#confirm_modal').modal('show')
        }
       
    </script>
    <script src="{% static 'assets/select2/dist/js/select2.full.js' %}"></script>
    
</body>

</html>